<div id="messages">
  <p><%= message.content %></p>
  <%= form_tag("/chat/destroy") do %>
      <%= hidden_field_tag :id, message.id %>
      <input id="submit_button" type="submit" value="↑削除">
    <% end %>
</div>

