<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h7>パスワードのリセット</h7>

      <p1>パスワードをリセットするには、下のリンクをクリックしてください。</p1>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

      <p1>このリンクは2時間で期限切れになります。</p1>

      <p1>
        パスワードの再設定を要求しなかった場合は、このEメールを無視してください。あなたのパスワードはそのまま残ります。
      </p1>
  </body>
</html>