<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="フォロー中" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="フォロワー" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>