<% @response.split(",").each do |id| %>
<div style="display:inline;">
  <img src="/images/<%=id%>.png" style="border:solid black 1px;"></img>
  <td><%= link_to 'Destroy', id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
<% end %>
pookpoom,,,,,,,,,,,,,,,,,,,,,,o;m,





















oikmomo