<h1>チャットルーム</h1>

 <form>
  <label>入力:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
  <div id="messages">
    <span class="box-title">ここにタイトル</span>
    <p><%= render @messages %></p>
  </div>
